<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Trattoria La Campana</h1>
        <p class="lead font-weight-normal">...perfect place to grab a quick bite and wash it down with some local wine...</p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div> -->

<div class="row">
    <!-- <table>
        <thead>
            <tr>
              <th colspan="2">name</th>
              <th colspan="1">category</th>
              <th colspan="1">price</th>
            </tr>
          </thead>
    </table> -->
    <app-menu-list></app-menu-list>
    <div class="position-absolute top-60 start-100 translate-middle-x">
      <app-add-menu></app-add-menu>
    </div>
</div>
