<form (ngSubmit)="addMenu()"class="col-3">
    <div class="form-group">
        <label for="input-name">Name</label>
        <input name="input-name" class="form-control" id="input-name" [(ngModel)]="newMenu.name"/><br/>
    </div>
    <div class="form-group">
        <label for="input-price">Price</label>
        <input name="input-price" class="form-control" id="input-price" [(ngModel)]="newMenu.price"/><br/>
    </div>
    <div class="form-group">
        <label for="input-category">Category</label>
        <select name="input-category" id="input-category" [(ngModel)]="newMenu.category" class="form-control">
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
        </select>
    </div><br/>

    <button type="submit" class="btn btn-warning">reset</button>
    <button type="submit" class="btn btn-light">save</button>
</form>